<h1>Add a new transaction to your list</h1>

<form action="/transactions" method="post">
  <label>
    Select a type:
    <<label for="Type">Type of Purchase:</label>
    <select name="type" id="type">
      <option value="Groceries">Groceries</option>
      <option value="Clothes">Clothes</option>
      <option value="Recreational">Recreational</option>
      <option value="Investment">Investment</option>
      <option value="Miscellaneous">Miscellaneous</option>
    </select>
  </label>
